<?xml version="1.0"?>
<!--
/**
 * Teamwork Integration Catalog Module
 *
 * Loads and updates products from Teamwork CHQ into Magento.
 *
 * @package Teamwork\Catalog
 * @author Fred Orosko Dias <fred@imaginationmedia.com>
 * @copyright Copyright (c) 2017-2018 Teamwork Retail (http://teamworkretail.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="personalize" frontName="personalize">
            <module name="ImaginationMedia_AwsPersonalize" />
        </route>
    </router>
</config>
